/*Custom CSS*/
.body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif;
}
.footer-text{
  font-size:18px;
  font-weight:200;
  color:gray;
  text-align:center;
}
.footer-links{
  text-decoration:none;
  list-style:none;
}
.footer-link{
  text-decoration:none;
  color:gray;
  font-weight:200;
}
.footer-link:hover{
  text-decoration:none;
  color:gray;
  font-weight:300;
}
#footer{
  margin-bottom:0;
  padding-bottom:20px;
  border-radius: 0;
}
@keyframes fadeInAnimation {
  0% {
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.spacer60{
  width: 100%;
  height: 60px;
}

/* Homepage Squares CSS */
.square-wrapper{
  display:flex;
  justify-content: center;
}

.square-wrapper > .squares {
  width: 1000px;
}

.square-wrapper > .squares > .square {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -4px;
}

.square > .square-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square > .square-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 42px;
}

.square > .square-image-wrapper {
  display:flex;
  justify-content:center;
  width: 100%;
}

@media (max-width: 720px){
  .square {
    grid-template-columns: 1fr !important;
  }

  .square > .square-text-wrapper {
      order: 1;
  }

  .square > .square-image-wrapper {
      order: 2;
  }
}
